button, .button {
    border: none;
    background : linear-gradient(to right, #64e1d9, #329ecc);
    font-size: 0.875rem;
    font-weight: 700;
    //margin-left: 1rem;
    padding: 15px 20px;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;

    @include breakpoint(medium){
        max-width: 200px;
    }

    &:hover {
        background: linear-gradient(to right, #329ecc, #329ecc);
    }

    &--large {
        @extend .button;
        padding: 20px;

        @include breakpoint(medium){
            max-width: 285px;
        }
    }
}
